<main class="sorry__page">
    <section class="sorry">
        <img class="sorry__icon" src="./assets/icon.svg" />
        <h2>LO SENTIMOS...</h2>
        <p>No se encuentra la página, vuelve al inicio <strong class=""><a class="inverse" href="/">aquí..</a></strong></p>
    </section>
</main>