<nav class="navbar navbar-expand container-fluid shadow position-fixed z-2">
    <div class="arrow-container-admin">
        <a href="/" class="material-symbols-outlined arrow_back">arrow_back</a>
    </div>
    <div class="logo-container-admin">
        <img class="brand-logo-admin" src="/assets/logo__svg.svg"/>
    </div>
</nav>
<form class="p-3 rounded admin-form" id="delForm" action="/admin/pid" method="post">
    <div class="mb-1">
        <label for="pid" class="form-label">ID producto</label>
        <input type="text" id="pid" name="pid" required min="1" class="form-control shadow-sm"/><br>
    </div>
    <div class="d-flex flex-column justify-content-center">
        <button type="submit" class="btn my-2 success-btn container-fluid">Eliminar producto</button>
        <a type="button" class="btn my-2 fail-btn container-fluid" href="/">Cancelar</a>
    </div>
</form>