<nav class="navbar navbar-expand container-fluid shadow position-fixed z-2">
    <div class="logo-container">
        <img class="brand-logo" src="http://localhost:8080/assets/logo__svg.svg"/>
    </div>
    <div class="form-container">
        <form class="form-close" action="http://localhost:8080/api/sessions/logout" method="get">
            <h6 class="mx-3 h6-nav">Bienvenid@</strong></h6>
            <img class="user-default-image" src="http://localhost:8080/assets/images/user_def.png" role="button" data-bs-toggle="collapse" data-bs-target="#collapse_demo" />
            <div id="collapse_demo" class="collapse menu-collapse" >
                <a href="http://localhost:8080/login">Iniciar sesion</a>
                <a href="http://localhost:8080/products">Productos</a>
                <a href="#">Soporte</a>
            </div>
        </form>
    </div>
</nav>
<section class="carousel">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#caption" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#caption" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#caption" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/images/agua_test.jpg" class="d-block slide__image" alt="garrafon">
                <div class="carousel-caption">
                    <h5>Agua Purificada</h5>
                    <p>Nos enfocamos en brindarte la mejor agua para ti y tu familia</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/images/sirviendo_test.jpg" class="d-block slide__image" alt="vaso">
                <div class="carousel-caption">
                    <h5>Libre de contaminantes</h5>
                    <p>Hidrátate continuamente y siéntete libre de tomarla en cualquier momento</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/images/laboratorio_1400_600.jpg" class="d-block slide__image" alt="sirviendo">
                <div class="carousel-caption">
                    <h5>Calidad</h5>
                    <p>Mejoramos nuestros procesos para brindarte la mejor agua</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="articles">
    <article class="ltr" data-aos="fade-up" data-aos-duration="500">
        <h2>Quiénes somos</h2>
        <div class="text__description">
            <p>Una empresa dedicada a la purificación, embotellamiento y distribución de agua purificada baja en sales minerales.</p>
            <p>Estamos en favor de la preservación y cuidado del medio ambiente, mejorando nuestros procesos con el fin de minimizar el impacto al entorno.</p>
            <p>Empresa de reciente creación enfocada en la mejora continua y trabajando bajo principios éticos y morales.</p>
        </div>
    </article>
    <article class="ltr" data-aos="fade-up" data-aos-duration="500">
        <h2>Nuestros productos y servicios</h2>
        <div class="text__description">
            <p>Contamos con amplia gama de productos  y servicios enfocados en satisfacer una de las necesidades mas grandes de la humanidad como lo es el acceso a un agua de calidad y libre de contaminantes que sean perjudiciales para la salud.</p>
            <p>En punto aqua nos enforzamos por llevar hasta la comodidad de tu hogar esta gama de productos esenciales no pueden faltar en casa.</p>
        </div>
    </article>
</section>
<footer>
    <div class="footer__info">
        <div class="footer__about">
            <h2>Acerca de</h2>
            <a href="#">Punto Aqua</a>
            <a href="#">Sustentabilidad</a>
            <a href="https://wa.me/523322786320">Noticias</a>
        </div>
    </div>
    <div class="footer__links">
        <div class="social__media">
            <a href="https://www.facebook.com/profile.php?id=100087263527212" target="_blank"><i class="fa-brands fa-facebook fa-3x"></i></a>
            <a href="https://www.google.com/maps/place/Punto+Aqua/@20.6552023,-103.2944247,17z/data=!3m1!4b1!4m6!3m5!1s0x8428b3f170b144a7:0xd3d21c426e3cd34d!8m2!3d20.6551973!4d-103.292236!16s%2Fg%2F11jt5d7d45" target="_blank"><i class="fa-solid fa-location-dot fa-3x"></i></a>
        </div>
        <div class="footer__copyright">
            <a href="#">Aviso de privacidad</a>
            <a href="#">Términos y condiciones</a>
            <p>&copy;Derechos reservados</p>
        </div>
    </div>
</footer>
