<form id="login" action="http://192.168.100.24:8080/api/sessions/login" method="post">
    <div class="mb-1">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="email" id="email" name="email" required class="form-control"/>
    </div>
    <div class="mb-1">
        <label for="password" class="form-label">Contrasena</label>
        <input type="password" id="password" name="password" required class="form-control" />
    </div><br>
    <button type="submit" class="btn btn-success">Iniciar sesion</button>
    <a type="button" class="btn btn-success" href="http://192.168.100.24:8080/api/sessions/sign">Resgistrar</a>
</form>