<form class="form-login p-4" id="login" action="http://192.168.100.24:8080/api/sessions/login" method="post">
    <div class="h-100 form-body">
        <div class="form-input">
            <input type="email" id="email" name="email" class="form-control rounded-3 shadow-sm" placeholder="Correo electrónico" required />
        </div>
        <div id="register" class="form-input">
            <input type="password" id="password" name="password" class="form-control rounded-3 shadow-sm" placeholder="Contraseña" required/>
        </div>
        <div class="register-link">
            <span style="margin-right: 0.5rem;">No tienes cuenta?</span>
            <a href="http://192.168.100.24:8080/sign">Regístrate</a>
        </div>
        <div class="form-buttons d-flex flex-center justify-content-center">
            <button type="submit" class="btn w-100 rounded-3">Iniciar sesión</button>
        </div>
    </div>
</form>