<form class="form-login p-4" id="newpasswords" action="/api/users/newPasswords/{{email}}" method="post">
    <div class="h-100 form-body">
        <div class="form-input">
            <label for="pid" class="form-label">Escribe tu nueva contrasena</label>
            <input type="password" id="fpassword" name="fpassword" class="form-control shadow-sm" required />
        </div>
        <div class="form-input">
            <label for="pid" class="form-label">Reescribe tu nueva contrasena</label>
            <input type="password" id="spassword" name="spassword" class="form-control shadow-sm" required />
        </div>
        <div class="form-buttons d-flex flex-column flex-center justify-content-center">
            <button id="restorebutton" type="submit" class="btn w-100" >Restaurar la contrasena</button>
        </div>
    </div>
</form>