<nav class="navbar navbar-expand container-fluid shadow position-fixed z-2">
    <div class="arrow-container-admin">
        <a href="/login" class="material-symbols-outlined arrow_back">arrow_back</a>
    </div>
    <div class="logo-container-admin-addel">
        <img class="brand-logo-admin" src="/assets/logo__svg.svg"/>
    </div>
</nav>
<div style="margin-top: 7rem;">
    <h2>Usuario no existe, verifica tu correo electrónico</h2>
</div>