<nav class="navbar navbar-expand container-fluid shadow position-fixed z-2">
    <div class="arrow-container-admin">
        <a href="/" class="material-symbols-outlined arrow_back">arrow_back</a>
    </div>
    <div class="logo-container-admin">
        <img class="brand-logo-admin" src="/assets/logo__svg.svg"/>
    </div>
</nav>
<div style="margin-top: 4.5rem;">
    <h2>Aviso de privacidad</h2>
</div>