<h1>Agrega productos</h1>
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title"/><br>
    <label for="description">Description</label><br>
    <input type="text" id="description" name="description"/><br>
    <label for="code">Code</label><br>
    <input type="text" id="code" name="code"/><br>
    <label for="price">Price</label><br>
    <input type="text" id="price" name="price"/><br>
    <label for="stock">Status</label><br>
    <input type="text" id="stock" name="stock"/><br>
    <label for="category">Category</label><br>
    <input type="text" id="category" name="category"/><br>
    <label for="thumbnail">Thumbnail</label><br>
    <input type="text" id="thumbnail" name="thumbnail"/><br><br>
    <button onclick="formData()" value="Agregar producto">Enviar</button>
<h1>Elimina productos</h1>
<form action="http://localhost:8080/api/products/" method="post">
    <label for="pid">ID</label><br>
    <input type="text" id="pid" name="pid"/><br><br>
    <input type="submit" value="Eliminar producto"/>
</form>
<div id="div">

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>