<h1>Hola {{name}}</h1>
<nav class="navbar bg-body-tertiary">
  <form id="adminform" class="container-fluid justify-content-end" action="http://192.168.100.24:8080/api/sessions/logout" method="get">
    <button class="btn btn-outline-light me-2" type="submit">Cerrar sesion</button>
  </form>
</nav>
<div class="socket">
    <div id="forms">
        <h4>Agrega productos</h4>
        <form id="data" action="http://192.168.100.24:8080/realtimeproducts" method="post">
            <div class="mb-1">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="title" required class="form-control"/>
            </div>
            <div class="mb-1">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" id="description" name="description" required class="form-control"></textarea>
            </div>
            <div class="mb-1">
                <label for="code" class="form-label">Code</label>
                <input type="text" id="code" name="code" required class="form-control"/>
            </div>
            <div class="mb-1">
                <label for="price" class="form-label">Price</label>
                <input type="number" id="price" name="price" min="0.01" placeholder="0.00" step="0.01" required class="form-control"/>
            </div>
            <div class="mb-1">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" id="stock" name="stock" min="0" required class="form-control"/>
            </div>
            <div class="mb-1">
                <label for="category" class="form-label">Category</label>
                <input type="text" id="category" name="category" required class="form-control"/>
            </div><br>
                <button type="submit" class="btn btn-success">Agregar producto</button>
        </form>
        <h4>Elimina productos</h4>
        <form id="delForm" action="http://192.168.100.24:8080/realtimeproducts/pid" method="post">
            <div class="mb-1">
                <label for="pid" class="form-label">ID</label>
                <input type="text" id="pid" name="pid" required min="1" class="form-control"/><br>
            </div>
            <button type="submit" class="btn btn-danger">Eliminar producto</button>
        </form>
        </div>
    <div id="list">
        <table class="table table-lg align-middle">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Tumbnail</th>
                    <th>__v</th>
                </tr>
            </thead>
            <tbody id="table">
                {{#each productsList}}
                <tr>
                    {{#each _doc}}
                        <td>{{this}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
