<form class="form-login p-4" id="restore" action="/api/users/restorePassword" method="post">
    <div class="h-100 form-body">
        <div class="form-input">
            <label for="pid" class="form-label">Ingresa el correo electronico registrado en tu perfil</label>
            <input type="email" id="email" name="email" class="form-control rounded-3 shadow-sm" placeholder="Correo electrónico" required />
        </div>
        <div class="form-buttons d-flex flex-column flex-center justify-content-center">
            <button type="submit" class="btn w-100 rounded-3">Enviar link de restauracion</button>
        </div>
    </div>
</form>