<form id="sign" action="http://localhost:8080/api/users/" method="post">
    <div class="mb-1">
        <label for="fname" class="form-label">Nombre</label>
        <input type="text" id="fname" name="fname" required class="form-control"/>
    </div>
    <div class="mb-1">
        <label for="lname" class="form-label">Apellido</label>
        <input type="text" id="lname" name="lname" required class="form-control" />
    </div>
    <div class="mb-1">
        <label for="age" class="form-label">Edad</label>
        <input type="number" min="1" placeholder="0" id="age" name="age" required class="form-control"/>
    </div>
    <div class="mb-1">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="email" id="email" name="email" required class="form-control"/>
    </div>
    <div class="mb-1">
        <label for="password" class="form-label">Contrasena</label>
        <input type="password" id="password" name="password" required class="form-control" />
    </div><br>
    <button type="submit" class="btn btn-success">Registrar</button>
</form>