<main class="thank__page">
        <section class="thank">
            <img class="success__icon" src="../assets/success.png" />
            <h2>MUCHAS GRACIAS</h2>
            <p>Compra exitosa</p>
            <span class="material-symbols-outlined">thumb_up</span>
        </section>
        <section class="finish">
            <button onclick="location.href='../index.html'" class="mobile__button desktop__button finish__button">Terminar</button>
        </section>
    </main>