<main class="thank__page">
    <img class="success__icon" src="../assets/success.png" />
    <h2>MUCHAS GRACIAS</h2>
    <h3 class="thanks">Compra exitosa</h3>
    <img src="../assets/thumb_up.svg" class="thank_icon material-symbols-outlined" />
    <section class="finish">
        <a href="/" type="button" class="btn">Finalizar</a>
    </section>
</main>