body {
    margin: 1%;
}


/*****************realTimeProducts UI*****************/
label {
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
}
#forms {
    width: 25%
}
#list {
    width: 60%;
}
form {
    background-color: #4361ee;
    padding: 5%;
    border-radius: 8px;
}
input {
    border-radius: 8px;
    border: none;
}
.socket {
    display: flex;
}
#list {
    margin: 2%;
    display: flex;
    flex-direction: column;
}
table {
    border: solid #3A0CA3 4px;
}
th {
    font-size: 1.8rem;
    padding: 8px;
    text-align: center;
}
td {
    border: solid #4895EF 3px;
    font-size: 15px;
    padding: 1%;
    text-align: center;
    overflow-wrap: break-word;
}

/*****************home UI*****************/

.homePage {
    display: flex;
    flex-direction: column;
}