body {
    margin: 1%;
}

/*****************realTimeProducts UI*****************/

label {
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
}
#forms h1{
    text-align: center;
}
form {
    background-color: #4361ee;
    padding: 4%;
    border-radius: 8px;
    width: 20rem;
}
#close {
    padding: 0.5%;
}
#login {
    padding: 3%;
}
#adminform {
    padding: 1%;
}
input {
    border-radius: 8px;
    border: none;
}
.socket {
    display: flex;
}
#list {
    margin: 2%;
    display: flex;
    flex-direction: column;
}
th {
    text-align: center;
}
td {
    text-align: center;
}

/*****************home UI*****************/

.homePage {
    display: flex;
    flex-direction: column;
}