<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet"/>
    <title>{{title}}</title>
    <!--<style>
        body {
            margin: 8px;
        }
        label {
            font-size: 25px;
            font-weight: bold;
        }
        form {
            background-color: cornflowerblue;
            padding: 12px;
            border-radius: 8px;
        }
        input {
            padding: 8px;
            font-size: 20px;
            border-radius: 8px;
            border: none;
            outline-color: aquamarine;
        }
        .socket {
            display: flex;
        }
        #list {
            margin: 8px;
            display: flex;
            flex-direction: column;
        }
        table {
            border: solid aqua 3px;
            border-radius: 5px;
        }
        tr {
            background-color: beige;
        }
        th {
            font-size: 35px;
            padding: 8px;
            text-align: center;
        }
        td {
            border: solid aqua 3px;
            font-size: 20px;
            padding: 8px;
            text-align: center;
        }
    </style>-->
</head>
<body>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/{{script}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>