<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <style>
        body {
            margin: 8px;
        }
        label {
            font-size: 25px;
            font-weight: bold;
        }
        form {
            background-color: cornflowerblue;
            padding: 12px;
            border-radius: 8px;
        }
        input {
            padding: 8px;
            font-size: 20px;
            border-radius: 8px;
            border: none;
            outline-color: aquamarine;
        }
        .socket {
            display: flex;
        }
        #list {
            margin: 8px;
            display: flex;
            flex-direction: column;
        }
        table {
            border: solid aqua 3px;
            border-radius: 5px;
        }
        tr {
            background-color: beige;
        }
        th {
            font-size: 35px;
            padding: 8px;
            text-align: center;
        }
        td {
            border: solid aqua 3px;
            font-size: 20px;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>
    {{{body}}}
    
</body>
</html>